<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovo.dao.SharingsMapper">
  <resultMap id="BaseResultMap" type="com.ovo.bean.Sharings">
    <id column="sharings_ID" jdbcType="INTEGER" property="sharingsId" />
    <result column="news_ID" jdbcType="INTEGER" property="newsId" />
    <result column="sharings_time" jdbcType="TIMESTAMP" property="sharingsTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sharings_ID, news_ID, sharings_time
  </sql>
  <select id="selectByExample" parameterType="com.ovo.bean.SharingsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sharings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sharings
    where sharings_ID = #{sharingsId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sharings
    where sharings_ID = #{sharingsId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ovo.bean.SharingsExample">
    delete from sharings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ovo.bean.Sharings">
    insert into sharings (sharings_ID, news_ID, users_ID, 
      sharings_time)
    values (#{sharingsId,jdbcType=CHAR}, #{newsId,jdbcType=CHAR}, #{usersId,jdbcType=CHAR}, 
      #{sharingsTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ovo.bean.Sharings">
    insert into sharings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sharingsId != null">
        sharings_ID,
      </if>
      <if test="newsId != null">
        news_ID,
      </if>
      <if test="sharingsTime != null">
        sharings_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sharingsId != null">
        #{sharingsId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="sharingsTime != null">
        #{sharingsTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ovo.bean.SharingsExample" resultType="java.lang.Long">
    select count(*) from sharings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sharings
    <set>
      <if test="record.sharingsId != null">
        sharings_ID = #{record.sharingsId,jdbcType=CHAR},
      </if>
      <if test="record.newsId != null">
        news_ID = #{record.newsId,jdbcType=CHAR},
      </if>
      <if test="record.usersId != null">
        users_ID = #{record.usersId,jdbcType=CHAR},
      </if>
      <if test="record.sharingsTime != null">
        sharings_time = #{record.sharingsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sharings
    set sharings_ID = #{record.sharingsId,jdbcType=CHAR},
      news_ID = #{record.newsId,jdbcType=CHAR},
      users_ID = #{record.usersId,jdbcType=CHAR},
      sharings_time = #{record.sharingsTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ovo.bean.Sharings">
    update sharings
    <set>
      <if test="newsId != null">
        news_ID = #{newsId,jdbcType=CHAR},
      </if>
      <if test="usersId != null">
        users_ID = #{usersId,jdbcType=CHAR},
      </if>
      <if test="sharingsTime != null">
        sharings_time = #{sharingsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sharings_ID = #{sharingsId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ovo.bean.Sharings">
    update sharings
    set news_ID = #{newsId,jdbcType=CHAR},
      users_ID = #{usersId,jdbcType=CHAR},
      sharings_time = #{sharingsTime,jdbcType=TIMESTAMP}
    where sharings_ID = #{sharingsId,jdbcType=CHAR}
  </update>
</mapper>